@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Mukta:wght@300&family=Poppins&family=Roboto:wght@300;700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--font-color);
    box-sizing: border-box;
    font-size: 16.5px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-color: #444;
    --font-color-bold: #111;
    --font-emphasis: #EE1C47;
}

/* =-=-= CONFIGURAÇÃO NAVBAR =-=-= */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.navmenu a:hover {
    color: var(--font-emphasis);
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon a ion-icon {
    margin-right: 20px;
    font-size: 25px;
    font-weight: 400;
    transition-timing-function: ease-in-out;
    transition-duration: 0.42s;
}

.nav-icon a ion-icon:hover {
    transform: scale(1.1);
    color: var(--font-emphasis);
}

#menu-icon ion-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}

/* =-=-= CONFIGURAÇÃO SEÇÕES DE TEXTO =-=-= */

section {
    padding: 10% 10%;
}

.main-home {
    width: 100%;
    height: 100vh;
    background-image: url(undraw_toy_car_-7-umw.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text h5 {
    color: var(--font-emphasis);
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1 {
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn {
    border-radius: 5px;
    color: var(--font-color-bold);
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.main-btn:hover {
    background: var(--font-color-bold);
    color: white;
}

.main-btn ion-icon {
    vertical-align: middle;
}

.down-arrow {
    position: absolute;
    top: 85%;
    right: 11%;
}

.down ion-icon {
    cursor: pointer;
    font-size: 30px;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.down ion-icon:hover {
    background: #2c2c2c;
    color: white;
}

.header.sticky {
    background: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.center-text h2 {
    color: var(--font-color-bold);
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5em;
}

.center-text span {
    font-size: 28px;
    color: var(--font-emphasis);
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.row {
    position: relative;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.row img {
    border-radius: 5px;
    margin-bottom: 0.6em;
    width: 390px;
    height: 450px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.row img:hover {
    transform: scale(0.9);
}

.product-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #27b737;
    padding: 3px 10px;
    border-radius: 5px;
}

.heart-icon ion-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 20px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.heart-icon ion-icon:hover {
    color: var(--font-emphasis);
}

.rating ion-icon {
    color: #FF8C00;
    font-size: 18px;
}

.price h4 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p {
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

.up-center-text h2 {
    text-align: center;
    color: var(--font-color-bold);
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 3em;
}

.cart img {
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.update-cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.cart h5 {
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4 {
    color: var(--font-color-bold);
    font-size: 18px;
    font-weight: 600;
}

.cart p {
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 1em;
}

.cart h6 {
    cursor: pointer;
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}

/* =-=-= CONFIGURAÇÃO FOOTER =-=-= */

.contact {
    background: #f3f4f6;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.first-info img {
    width: 140px;
    height: auto;
}

.email {
    text-transform: none;
}

.contact-info h4 {
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.contact-info p {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1em;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.42s;
}

.contact-info p:hover {
    color: var(--font-emphasis);
}

.social-icon ion-icon {
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.social-icon ion-icon:hover {
    transform: scale(1.2);
}

.end-text {
    background: #f3f4f6;
    text-align: center;
    padding: 20px;
}

.end-text p {
    font-size: 15px;
    text-transform: capitalize;
}

.five-info {
    max-width: 425px;
}

.custom-shape-divider-bottom-1678588569 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678588569 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1678588569 .shape-fill {
    fill: #f3f4f6;
}

.cta {
    cursor: pointer;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* =-=-= CONFIGURAÇÕES HISTORIA =-=-= */

.historia {
    margin: auto;
    max-width: 1300px;
}

.historia h1 {
    font-size: 35px;
    text-align: center;
    color: var(--font-emphasis);
    margin-bottom: 2em;
}

.historia h2 {
    font-size: 25px;
    margin-bottom: 1em;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.historia h2:hover {
    cursor: pointer;
    color: #b1dae7;
}

.historia p {
    text-align: justify;
    margin-bottom: 2em;
}

/* =-=-= CONFIGURAÇÕES CONTATO =-=-= */

.contato {
    padding: 0;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato h1 {
    text-align: center;
    cursor: pointer;
    font-size: 32.5px;
    color: #a5cdd9;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.contato p {
    color: #234567;
}

.contato-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contato-info iframe {
    border-radius: 10px;
}

.contato-info h1 {
    color: #a5cdd9;
    margin-left: 1em;
    font-size: 25px;
}

.contato-info .informacoes {
    margin-left: 2em;
}

.contato-info .informacoes p {
    color: #a5cdd9;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7.5px;
    margin: 1em;
}

.contato-info .informacoes span {
    font-weight: normal;
}

.contato-info .informacoes ion-icon {
    font-weight: bold;
    color: #7bb4c5;
    font-size: 19px;
}

/* =-=-= RESPONSIVIDADE =-=-= */

@media (max-width: 890px) {
    .main-home {
        background: none;
    }
    header {
        padding: 20px 3%;
        transition: 0.4s;
    }
}

@media (max-width: 630px) {
    .main-text h1 {
        font-size: 50px;
        transition: 0.4s;
    }

    .main-text p {
        font-size: 18px;
        transition: 0.4s;
    }

    .main-btn {
        padding: 10px 20px;
        transition: 0.4s;
    }
}

@media (max-width: 750px) {
    .navmenu {
        background: white;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition-timing-function: ease-in-out;
        transition-duration: 0.4s;
    }

    .contato h1 {
        margin: 1em;
    }

    .navmenu a {
        display: block;
        margin: 18px 0;
    }

    .navmenu.open {
        right: 0;
    }
}